@page
@model Sunridge.Pages.Admin.Reports.UpsertModel
@using Sunridge.Utility
@using Sunridge.Models

@if (User.IsInRole(SD.AdminRole) || User.IsInRole(SD.OwnerRole))
{
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <div class="container">
            <div class="row px-2 mx-2 border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.ReportVMObj.Report.Id != 0)
                {
                    <input type="hidden" asp-for="ReportVMObj.Report.Id" />
                    @for (var i = 0; i < Model.ReportVMObj.LaborHours.Count(); i++)
                    {
                        <input type="hidden" asp-for="ReportVMObj.LaborHours[i].Id" />
                        <input type="hidden" asp-for="ReportVMObj.EquipmentHours[i].Id" />
                    }
                }
                <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                    <h2 class="text-primary">@(Model.ReportVMObj.Report.Id != 0 ? "Update" : "Create") Report</h2>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.FormType"></label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" asp-for="ReportVMObj.Report.FormType" id="formTypeDropDown">
                                <option value="Suggestion / Complaint">Suggestion / Complaint</option>
                                @if (User.IsInRole(SD.AdminRole))
                                {
                                <option value="Work in kind">Work in kind</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="ReportVMObj.Report.FormType"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.Description"></label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" asp-for="ReportVMObj.Report.Description" id="txtDescription" style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.Suggestion"></label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" asp-for="ReportVMObj.Report.Suggestion" id="txtSuggestion" style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.Comments"></label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" asp-for="ReportVMObj.Report.Comments" id="txtComments" style="height:200px"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.ListingDate"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="ReportVMObj.Report.ListingDate" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="ReportVMObj.Report.Resolved"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="ReportVMObj.Report.Resolved" />
                        </div>
                    </div>

                    <script>
                        var currentSelected = document.getElementById("formTypeDropDown");
                        var choice = document.getElementById("formTypeDropDown").value;
                        currentSelected.addEventListener("change", function () {
                            choice = document.getElementById("formTypeDropDown").value;
                            if (choice == "Work in kind") {
                                var x = document.getElementById("labordiv");
                                if (x.style.display == "none") {
                                    x.style.display = "block";
                                }

                                x = document.getElementById("equipmentdiv");
                                if (x.style.display == "none") {
                                    x.style.display = "block";
                                }

                            } else {
                                var x = document.getElementById("labordiv");
                                if (x.style.display == "block") {
                                    x.style.display = "none";
                                }

                                x = document.getElementById("equipmentdiv");
                                if (x.style.display == "block") {
                                    x.style.display = "none";
                                }
                            }
                        });


                    </script>

                    <div class="form-group row" style="display: none;" id="labordiv">
                        <div class="col-9">
                            <button asp-page-handler="laborplus" class="form-control" id="labors"> <i id="laborButton" class="btn btn-success form-control">Add</i></button>
                        </div>
                    </div>

                    <div class="form-group row" style="display: none;" id="equipmentdiv">
                        <div class="col-9">
                            <button asp-page-handler="equipmentplus" class="form-control" id="equipments"> <i id="equipmentButton" class="btn btn-success form-control">Add</i></button>
                        </div>
                    </div>



                    


                    @if (Model.ReportVMObj.LaborHours.Count() > 0)
                    {
                        @for (var i = 0; i < Model.ReportVMObj.LaborHours.Count(); i++)
                        {
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="ReportVMObj.LaborHours[i].LaborActivity"></label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" asp-for="ReportVMObj.LaborHours[i].LaborActivity" />
                                </div>
                                <div class="col-3">
                                    <label asp-for="ReportVMObj.LaborHours[i].Hours"></label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" asp-for="ReportVMObj.LaborHours[i].Hours" />
                                </div>
                            </div>

                        }
                    }

                    @if (Model.ReportVMObj.EquipmentHours.Count() > 0)
                    {
                        @for (var i = 0; i < Model.ReportVMObj.EquipmentHours.Count(); i++)
                        {
                            <div class="form-group row">
                                <div class="col-3">
                                    <label asp-for="ReportVMObj.EquipmentHours[i].EquipmentName"></label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" asp-for="ReportVMObj.EquipmentHours[i].EquipmentName" />
                                </div>
                                <div class="col-3">
                                    <label asp-for="ReportVMObj.EquipmentHours[i].Hours"></label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control" asp-for="ReportVMObj.EquipmentHours[i].Hours" />
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group row">
                        <div class="col-9 offset-3">
                            <div class="row">
                                <div class="col-6">
                                    @if (Model.ReportVMObj.Report.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control" onclick="return ValidInput()">Create</button>
                                    }
                                </div>
                                <div class="col-6">
                                    <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <div>
        <h1 class="danger">Access Denied</h1>
    </div>
}