@page
@model Sunridge.Pages.Home.CalendarModel
@using Sunridge.Utility;
@{
    ViewData["Title"] = "Event Calender";
}

<!-- Intro Section Grid -->
<section class="text-center p-5">
    <div class="container">
        <div class="container container-fluid no2">
            <h1 class="main-heading mb-4">Important Events</h1>
            <div>
                <p>All events and dates for the Sunridge community and be found below.</p>
            </div>
        </div>
    </div>
</section>
@if (User.IsInRole(SD.AdminRole))
{}
    <a class="nav-link" asp-area="Admin" asp-controller="Events" asp-action="Index"><i class="far fa-edit"></i> Edit Events</a>

<!-- Calendar -->
@*<section class="calendar text-center">
    <div class="container">
        <div id="calendar"></div>
        <link href="~/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/lib/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />

        <div class="container"><button class="btn-primary mt-4"><a class="text-white" href="mailto:Webmaster@sunridge.info">Contact the Webmaster to publish a new event</a></button></div>
    </div>
</section>*@

<div id="calendarEventModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventTitle">Event Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="eventDetails"></p>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole(SD.AdminRole))
                {}
                    <button type="button" class="btn btn-primary" onclick="editEvent()">Edit Event</button>
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/js/ScheduledEvents.js"></script>
  
}