@page
@model Sunridge.Pages.LostAndFound.UpsertModel
@{
    ViewData["Title"] = "Upsert";
}
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="col-8 pt-3">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="LostAndFoundItemObj.Description"></label>
            </div>
            <div class="col-9">
                <textarea class="form-control" asp-for="LostAndFoundItemObj.Description" id="txtDescription" style="height:200px"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="LostAndFoundItemObj.Image"></label>
            </div>
            <div class="col-9">
                <input type="file" class="form-control" name="files" id="files" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" onclick="return ValidInput()">Create</button>
            </div>
            <div class="col-6">
                <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
    </form>
    @section Scripts{
        <script src="~/js/lostAndFound.js"></script>
    }
