@page
@model Sunridge.Pages.Admin.Events.CreateModel
@{
    ViewData["Title"] = "Create News Item";
}

<h2>Create New Calendar Event</h2>

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="col-8 pt-3">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.Subject"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ScheduledEventObj.Subject" id="txtName" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.Description"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ScheduledEventObj.Description" id="txtDescription" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.Location"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ScheduledEventObj.Location" id="txtLocation" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.Start"></label>
            </div>
            <div class="col-9">
                <input id="datepicker" class="form-control" asp-for="ScheduledEventObj.Start" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.End"></label>
            </div>
            <div class="col-9">
                <input id="datepicker" class="form-control" asp-for="ScheduledEventObj.End" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ScheduledEventObj.IsFullDay"></label>
            </div>
            <div class="col-9">
                <input id="radio" class="form-control" asp-for="ScheduledEventObj.IsFullDay" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" onclick="return ValidInput()">Create</button>
            </div>
            <div class="col-6">
                <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-page="./Index">Back to List</a>
</div>