@page
@model Sunridge.Pages.Admin.Classifieds.Services.UpsertModel
@{
    ViewData["Title"] = "Upsert";
}
<br />
<br />
<table id="DT_load" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
</table>
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="col-8 pt-3">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedServiceObj.Description"></label>
            </div>
            <div class="col-9">
                <textarea class="form-control" asp-for="ClassifiedServiceObj.Description" id="txtDescription" style="height:200px"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedServiceObj.Image"></label>
            </div>
            <div class="col-9">
                <input type="file" class="form-control" name="files" id="files" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" onclick="return ValidInput()">Create</button>
            </div>
            <div class="col-6">
                <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/lostAndFound.js"></script>
}
