@page
@model Sunridge.Pages.Admin.Classifieds.UpsertModel
@{
    ViewData["Title"] = "Upsert";
}
<br />
<br />
<table id="DT_load" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
</table>
<@*form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="row form-group">
            <div class="col-md-3">
                <label asp-for="ClassifiedsObj.ClassifiedListing.Category"></label>
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(m => m.ClassifiedsObj.Photo.Category, Model.ClassifiedsObj.Categories, "- Please select a Category", new { @class = "form-control" })
                <span class="text-danger" asp-validation-for="ClassifiedsObj.Photo.Category"></span>
            </div>
        </div>
    </div>
    <div class="col-8 pt-3">
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.ClassifiedCategory.Description"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ClassifiedsObj.ClassifiedCategory.Description" />
                <span class="text-danger" asp-validation-for="ClassifiedsObj.ClassifiedCategory.Description"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.ItemName"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ClassifiedsObj.ItemName" />
                <span class="text-danger" asp-validation-for="ClassifiedsObj.ItemName"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.Price"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ClassifiedsObj.Price" />
                <span class="text-danger" asp-validation-for="ClassifiedsObj.Price"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.Description"></label>
            </div>
            <div class="col-9">
                <textarea class="form-control" asp-for="ClassifiedsObj.Description" id="txtDescription" style="height:200px"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.Phone"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ClassifiedsObj.Phone" />
                <span class="text-danger" asp-validation-for="ClassifiedsObj.Phone"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.Email"></label>
            </div>
            <div class="col-9">
                <input class="form-control" asp-for="ClassifiedsObj.Email" />
                <span class="text-danger" asp-validation-for="ClassifiedsObj.Email"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="ClassifiedsObj.Images"></label>
            </div>
            <div class="col-9">
                <input type="file" class="form-control" name="files" id="files" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control" onclick="return ValidInput()">Create</button>
            </div>
            <div class="col-6">
                <a asp-page="./Index" type="submit" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </div>
</form>*@
@section Scripts{
    <script src="~/js/classifieds.js"></script>
}